body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}


header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

section {
    margin: 20px;
}

h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
}
ul {
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    display: flex;
    justify-content: space-between;
}

main {
    margin: 20px;
    margin-bottom: 50px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
}

.gallery-item {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.gallery-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px 8px 0 0;
}

.gallery-item h2 {
    padding: 10px;
    margin: 0;
    text-align: center;
    background-color: #333;
    color: white;
    border-radius: 0 0 8px 8px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}
button{
    width: 100%;
    align-self: center;
    margin-top: 45%;
    margin-bottom: 45%;
    font-size: 2rem;
    background-color: #333;
    border-radius: 8px 8px 8px 8px;
}
a{
    text-decoration: none;
    color: white;
}
@media screen and (max-width: 767px) {
    /* Styles specific to mobile view go here */

    /* For example, let's change the background color to light gray */
    nav {
        font-size: 0.8rem;
        margin-top: 40px;
        margin-top: -5px;
    }
    header{
        height: 150px;
        display: flex;
        justify-content: center;
        margin-top: -10px;
        height: 150px;
        padding: 0px;
    }

    /* You can add more styles for mobile view as needed */
}